.logo span {
    color: rgb(229, 9, 20);
}

.page-link-items {
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    border: none;
    padding: 8px;
}

.page-link-items:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.page-link-items:active {
    opacity: 0.5;
}